<% layout('/layouts/boilerplate.ejs') -%>

<style>
  body {
    background-image: url('assets/blog.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    padding: 1rem;
  }

  .blog-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  .blog-card:nth-child(1) {
    margin-top: 10rem; 
  }
  .blog-card:nth-child(2) {
    margin-top: 10rem; 
  }
  .blog-card:nth-child(3) {
    margin-top: 10rem; 
  }

  .blog-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .blog-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  .blog-card h5 {
    margin-top: 1rem;
  }

  .blog-card ul {
    list-style-type: none;
    padding: 0;
  }

  .read-more {
    text-align: center;
    margin-top: 2rem;
  }

  .read-more button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .read-more button:hover {
    background-color: #0056b3;
  }
</style>

<div class="container">
  <% for(let blog of allBlog) { %>
    <div class="blog-card">
      <img src="<%= blog.images[0].url %>" alt="Blog Image">
      <h5><%= blog.destination %></h5>
      <ul>
        <li>Country: <%= blog.country %></li>
        <li>State: <%= blog.state %></li>
        <li>Budget: &#8377; <b><%= blog.budget %></b></li>
        <li class="exp">Experience: <%= blog.experience %></li>
      </ul>
    </div>
  <% } %>
</div>
<div class="read-more">
  <button>Read More</button>
</div>