<% layout('/layouts/boilerplate.ejs') -%>

<style>
  .box{
    margin-top:10rem;
  }
  .outerbox {
    display: flex;
    margin: 3rem;
  }
  .inner-box {
    width: 40%;
    display: flex;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: aliceblue;
  }
  .img-box img {
    height: 16rem;
    width: auto;
    border-radius: 1rem;
  }
  .createBtn {
    margin: 2rem 0 3rem 3rem;
  }
  .title-box {
    width: 100%;
  }

  .exp {
    word-wrap: break-word; /* Wrap long texts */
    /* Add additional styling as needed */
  }

  .price-btn {
    padding: 0 1.5rem 0 1.5rem;
    height: 4rem;
  }
</style>


<div class="box">

<% for(let blog of allBlog){%>
<div class="outerbox ">
  <div class="img-box">
    <img src="<%=blog.images[0] .url%>" alt="BlogImage" />
  </div>
  <div class="inner-box">
    <div class="title-box">
      <h5><%= blog.destination %></h5>
      <ul>
        <li>Country:<%= blog.country%></li>
        <li>State:<%= blog.state%></li>
        <li>Budget: &#8377; <b><%= blog.budget %></b></li>
        <li class="exp">Experience:<%= blog.experience %></li>
      </ul>
    </div>
  </div>
</div>


<%}%>
</div>
