<% layout('/layouts/boilerplate.ejs') -%>

  <style>
    body {
      background-color: #333;
      background-size: cover;
      background-repeat: no-repeat;
      overflow-x: hidden;
      font-family: Arial, sans-serif;
    }

    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 764px;
    }

    .hero-text h1 {
      position: relative;
      bottom: 50px;
    }

    .blog-posts {
      padding-top: 50px;
      padding-left: 8%;
      width: 100vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .blog-post-link {
      text-decoration: none;
      color: inherit;
    }

    .blog-post-1-container:hover {
      transform: scale(1.01);
    }

    .blog-posts .blog-posts-head h1 {
      font-size: 2.7rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .blog-posts .blog-posts-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .blog-posts-container .blog-post-1-container {
      height: 20%;
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      border-radius: 10px;
      background-color: black;
      box-shadow: 0 1.25rem 2.1875rem 0 rgb(253, 77, 33, 0.1);
    }

    .blog-post-1-container img {
      border-radius: 10px;
      height: 200px;
      width: 100%;
    }

    .blog-post-text .blog-post-readmore {
      text-decoration: underline;
      color: #f17945;
    }

    .blog-post-text .blog-post-readmore:hover {
      color: #ff8b60;
    }

    .blog-post-text img {
      height: 25px;
      width: 25px;
      color: white;
    }
  </style>

  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-text">
        <h1 class="hero-title">Blogs</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Officiis aliquid, atque quis
          distinctio
          quasi
          Nemo <br> recusandae pariatur quia illum nesciunt <br>
      </div>
    </div>
  </section>



  <!-- <div class="blogs-container">
    <% for(let blog of allBlog) { %>
      <div class="blog-card">
        <img src="<%= blog.images[0].url %>" alt="Blog Image">
        <h5>
          <%= blog.destination %>
        </h5>
        <ul>
          <li>Country: <%= blog.country %>
          </li>
          <li>State: <%= blog.state %>
          </li>
          <li>Budget: &#8377; <b>
              <%= blog.budget %>
            </b></li>
          <li class="exp">Experience: <%= blog.experience.substring(0,100) %>...<a href="/dashboard"
                style="display: inline;">ReadMore</a></li>
        </ul>
        <p class="time"><b>Uploaded On:</b>
          <%= new Date(blog.dateUploaded).toLocaleString() %>
        </p>
      </div>

      <% } %>
  </div>
  <div class="read-more">
    <button>Read More</button>
  </div> -->
  <section class="blog-posts">
    <div class="blog-posts-container">
      <% for(let blog of allBlog) { %>
        <a class="blog-post-link" href="">
          <div class="blog-post-1-container">
            <div class="img-container">
              <img src="<%= blog.images[0].url %>" alt="blog-post-1">
            </div>
            <div class="blog-post-text">
              <p class="blog-post-date"> <img src="/assets/dashboard-blogs/upload-time.svg" alt="">
                <%= new Date(blog.dateUploaded).toLocaleString() %>
              </p>
              <p class="blog-post-date"><b>
                  <%= blog.destination %>
                </b></p>
              <ul>
                <li>Country: <%= blog.country %>
                </li>
                <li>State: <%= blog.state %>
                </li>
                <li>Budget: &#8377; <%= blog.budget.toLocaleString("en-IN") %>
                    </b></li>
                <li class="exp">Experience: <%= blog.experience.substring(0,100) %> <a class="blog-post-readmore"
                      href="/signup">Read More ></a></li>
              </ul>

            </div>
          </div>
        </a>
        <%}%>
    </div>
  </section>