<% layout('/layouts/boilerplate.ejs') -%>
    <div class="home-container">
        <section class="hero-section">
            <div class="hero-container">
                <div class="hero-text">
                    <h2 class="hero-subtitle">Share your Experiences with the World</h2>
                    <h1 class="hero-title">Travel, enjoy<br>
                        and live a new <br>and full life</h1>
                    <p>Embrace the unknown and let the world be your playground. <br>Every journey is an opportunity to
                        create lifelong memories <br> and discover the beauty that lies beyond your comfort zone.<br>
                        <button class="find-more-btn">
                            Find out More <a href="/about"></a>
                        </button>
                </div>
            </div>
        </section>
        <section class="step-section animate">
            <div class="three-step-container">
                <div class="step-text">
                    <div class="step-head-text">
                        <h1>Plan Your Next Trip In<br>3
                            Easy Steps with us</h1>
                    </div>
                    <div class="step-1">
                        <div class="step-1-img">
                            <img src="/assets/step/search.svg" alt="step-1-img">
                        </div>
                        <div class="step-1-text">
                            <p><b>Choose Destination</b></p>
                            <p>Choose your favorite place. No matter <br>where you travel inside the world</p>
                        </div>
                    </div>
                    <div class="step-2">
                        <div class="step-2-img">
                            <img src="/assets/step/read.svg" alt="step-2-img">
                        </div>
                        <div class="step-2-text">
                            <p><b>Read Blogs about that Place</b></p>
                            <p>After finding your perfect spot, Plan your whole trip<br>with our specialized travel
                                blogs.</p>
                        </div>
                    </div>
                    <div class="step-3">
                        <div class="step-3-img">
                            <img src="/assets/step/suitcase.svg" alt="step-3-img">
                        </div>
                        <div class="step-3-text">
                            <p><b>Enjoy the Trip</b></p>
                            <p>Go and Enjoy the Trip with your friends and family</p>
                        </div>
                    </div>
                </div>
                <div class="step-img">
                    <img src="/assets/step/steps-img-1.jpg" alt="step-img-1">
                    <img src="/assets/step/steps-img-2.png" alt="step-img-2">
                </div>
            </div>
        </section>
        <section class="recent-posts animate">
            <div class="recent-posts-head">
                <h1>Recent Posts</h1>
            </div>

            <div class="recent-posts-container">
                <%for ( let blog of homeBlogs){%>
                    <div class="recent-post-1-container animate-rp" data-delay="0">
                        <div class="img-container">
                            <img src="<%=blog.images[0].url%>" alt="recent-post-1">
                        </div>
                        <div class="recent-post-text">
                            <p class="recent-post-date"><%= new Date(blog.dateUploaded).toLocaleString() %></p>
                            <p class="recent-post-date"><b><%=blog.destination%></b></p>
                            <p class="recent-post-date"><%=blog.experience.substring(0,50)%> </p>
                            <a class="recent-post-readmore" href="/dashboard/<%=blog._id%>">Read More ></a>
                        </div>
                    </div>
               <% }%>

            </div>

        </section>
        <section class="Write-Your-Own-Blog animate">
            <div class="text">
                <h1>Share you Sweet Memories
                    with the World</h1>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                    at the coast of the Semantics, a large language ocean.</p>
                <button class="write-blog-btn">
                    <a href="#">Write Your Own Blog Now </a>
                </button>
            </div>
            <div class="blog-img">
                <img src="/assets/blog-img.jpg" alt="write-your-own-blog-img">
            </div>
        </section>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const image = new Image();
            image.src = '/assets/hero-background.svg';
            image.onload = function () {
                document.querySelector('.hero-container').style.backgroundImage = 'url(' + this.src + ')';
            }
        });
    </script>
    <script>
        window.addEventListener('scroll', function () {
            const animatedElements = document.querySelectorAll('.animate');

            animatedElements.forEach(function (element) {
                const positionFromTop = element.getBoundingClientRect().top;

                if (positionFromTop - window.innerHeight <= 0) {
                    element.classList.add('show');
                } else {
                    element.classList.remove('show');
                }
            });
        });
    </script>
    <script>
        window.addEventListener('scroll', function () {
            const animatedElements = document.querySelectorAll('.animate-rp');

            animatedElements.forEach(function (element) {
                const positionFromTop = element.getBoundingClientRect().top;

                if (positionFromTop - window.innerHeight <= 0) {
                    const delay = element.getAttribute('data-delay');
                    setTimeout(function () {
                        element.classList.add('show');
                    }, delay);
                } else {
                    element.classList.remove('show');
                }
            });
        });
    </script>