<%- include("../includes/sidebar.ejs") %>

<style>
  body {
    background-color: #1a1a1a;
  }

  .profile-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 250px;
  }

  .profile-box {
    width: 70%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    border-radius: 10px;
  }

  .banner {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .edit-banner {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff7f00; 
    cursor: pointer;
  }

  .user-profile {
    display: flex;
    align-items: center;
  }

  .user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    margin-right: 20px;
  }

  .user-details {
    flex-grow: 1;
  }

  .user-details h2,
  .user-details h4 {
    margin: 0;
  }

  .blog-section {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .blog-post {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
  }

  .blog-post-actions {
    position: absolute;
    top: 10px; 
    right: 10px; 
  }

  .blog-post img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }

  .blog-post-details {
    flex-grow: 1;
  }

  .blog-post-details p {
    margin: 0;
  }
  .user-profile button {
    background-color: #ff7f00; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }

  .user-profile button:hover {
    background-color: #cc6600; /* Darker orange on hover */
  }

  .blog-post-readmore {
    color: #ff7f00; /* Orange read more link */
    text-decoration: underline;
  }
</style>

<div class="profile-container">
  <div class="profile-box">
    <div class="banner">
      <img id="banner-img" src="/assets/blog-img.jpg" alt="banner-img" />
      <label for="file-input" class="edit-banner"><i class="fas fa-pencil-alt"></i></label>
      <input id="file-input" type="file" style="display: none;" onchange="handleFileSelect(event)" />
    </div>

    <div class="user-profile">
      <img id="profile-img" src="/assets/bg.png" alt="" />
      <div class="user-details">
        <h2><%= currUser.username %></h2>
        <h4><%= currUser.email %></h4>
      </div>
      <button>edit</button>
    </div>

    <div class="blog-section">
      <h3>Your Blog Posts</h3>
      <div class="blog-posts">
        <% for(let userBlog of userBlogs) { %>
        <div class="blog-post">
          <img src="<%= userBlog.images[0].url %>" alt="blog-post" />
          <div class="blog-post-details">
            <p><strong><%= userBlog.destination %></strong></p>
            <p>Country: <%= userBlog.country %></p>
            <p>State: <%= userBlog.state %></p>
            <p>Budget: ₹ <%= userBlog.budget.toLocaleString("en-IN") %></p>
            <p>Experience: <%= userBlog.experience.substring(0, 100) %> <a class="blog-post-readmore"
                href="/dashboard/<%= userBlog._id %>">Read More ></a></p>
            <div class="blog-post-actions">
              <a href="/dashboard/<%=userBlog._id%>/edit"><i class="fas fa-edit"></i></a>
              <form method="POST" action="/dashboard/<%=userBlog._id%>?_method=DELETE" style="display: inline;">
                <button type="submit"><i class="fas fa-trash"></i></button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
        <% if (userBlogs.length === 0) { %>
        <div>
          <h4>No Blogs Posted Yet</h4>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script>
  function handleFileSelect(event) {
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function (e) {
      document.getElementById('banner-img').src = e.target.result;
    };

    reader.readAsDataURL(file);
  }

  function handleProfileSelect(event) {
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onload = function (e) {
      document.getElementById('profile-img').src = e.target.result;
    };

    reader.readAsDataURL(file);
  }
</script>
