<%- include("../includes/sidebar.ejs") %>

  

  <style>
    body {
      background-color: #f4f4f4;
    }

    .profile-box {
      margin-left: 25%;
      max-width: calc(100%-25%);
      position: relative;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    .banner {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .banner img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .banner .edit-banner {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
    }

    .user-profile {
      padding-top: 50px;
      color: #000;
      padding: 10px;
      width: 100px;
      box-sizing: border-box;
      text-align: center;
    }

    .user-profile img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid white;
      object-fit: cover;
    }

    .blog-section {
      margin-top: 100px;
    }

    .blog-posts {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .blog-posts-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .blog-post-link {
      text-decoration: none;
      color: inherit;
    }

    .blog-post-1-container {
      display: flex;
      gap: 20px;
    }

    .img-container {
      width: 200px;
      height: 200px;
      overflow: hidden;
    }

    .img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .blog-post-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .blog-post-date {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .blog-post-readmore {
      color: blue;
      text-decoration: underline;
    }
  </style>

  <div class="profile-box">
    <div class="banner">
      <img id="banner-img" src="/assets/blog-img.jpg" alt="banner-img" />
      <label for="file-input" class="edit-banner">✏️</label>
      <input id="file-input" type="file" style="display: none;" onchange="handleFileSelect(event)" />
    </div>

    <div class="user-profile">
      <label for="profile-input">
        <img id="profile-img" src="/assets/bg.png" alt="" />
      </label>
      <input id="profile-input" type="file" style="display: none;" onchange="handleProfileSelect(event)" />
      <h2>
        <%=currUser.username%>
      </h2>
      <h4>
        <%=currUser.email%>
      </h4>
    </div>

    <div class="blog-section">
      <section class="blog-posts">
        <div class="blog-posts-container">
          <% for(let userBlog of userBlogs) { %>
            <div class="dropdown-content">
              <a href="/dashboard/<%=userBlog._id%>/edit"> <i class="fa-regular fa-pen-to-square"></i> Edit</a>
              <form method="POST" action="/dashboard/<%=userBlog._id%>?_method=DELETE">
                  <button><i class="fa-solid fa-trash" style="margin-right: 0.2rem;"></i>Delete</button>
              </form>
          </div>
              <div class="blog-post-1-container">
                <div class="img-container">
                  <img src="<%= userBlog.images[0].url %>" alt="blog-post-1">
                </div>
                <div class="blog-post-text">
                  <p class="blog-post-date"> <img src="/assets/dashboard-blogs/upload-time.svg" alt="">
                    <%= new Date(userBlog.dateUploaded).toLocaleString() %>
                  </p>
                  <p class="blog-post-date"><b>
                      <%= userBlog.destination %>
                    </b>
                  </p>
                    <div class="upload-by">
                      By:<%=userBlog.owner.username%>
                    </div>
                  <ul>
                    <li>Country: <%= userBlog.country %>
                    </li>
                    <li>State: <%= userBlog.state %>
                    </li>
                    <li>Budget: &#8377; <%= userBlog.budget.toLocaleString("en-IN") %>
                        </b></li>
                    <li class="exp">Experience: <%= userBlog.experience.substring(0,100) %> <a class="blog-post-readmore"
                          href="/dashboard/<%=userBlog._id%>">Read More ></a></li>
                  </ul>
    
                </div>
              </div>
            
            <%if(!userBlog){%>
              <div>
                <h4>No Blogs Posted</h4>
              </div>
           <% } %>
            <%}%>
        </div>
      </section>
  </div>

  <script>
    function handleFileSelect(event) {
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function (e) {
        document.getElementById('banner-img').src = e.target.result;
      };

      reader.readAsDataURL(file);
    }

    function handleProfileSelect(event) {
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function (e) {
        document.getElementById('profile-img').src = e.target.result;
      };

      reader.readAsDataURL(file);
    }
  </script>