<%- include("../includes/sidebar.ejs") %>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: #d2d1d1;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    body {
      background-color: #151515;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    .profile-container {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      /* margin-top: 50px; */
      margin-left: 260px;
    }

    .profile-box {
      width: 80rem;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #151515;
      border-radius: 10px;
      margin-top: -30px;
    }

    .banner {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .banner img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .edit-banner {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #ff7f00;
      cursor: pointer;
    }

    .user-profile {
      display: flex;
      align-items: center;
      background-color: #ff860040;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    .user-profile img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid white;
      object-fit: cover;
      margin-right: 20px;
    }

    .user-details {
      flex-grow: 1;
    }

    .user-profile .buttons {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 2rem;
    }

    .user-profile .buttons a {
      text-decoration: none;
      color: white;
      margin-right: 0.2rem;
      background-color: #ff7f00;
      padding: 0.1rem 0.5rem 0.1rem 0.5rem;
      border-radius: 0.3rem;
    }

    .user-details h1 {
      font-size: 24px;
      color: #e0e0e0;
      margin-bottom: 10px;
    }

    .user-details h2,
    .user-details h4 {
      margin: 0;
      color: white;
    }

    .user-details h3 {
      font-size: 16px;
      color: #e0e0e0;
      margin-bottom: 10px;
    }

    .user-bio {
      font-size: 14px;
      color: #e0e0e0;
      margin-bottom: 10px;
    }

    .blog-section {
      background-color: #101010;
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      margin-top: 20px;
    }

    .blog-post {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: #171515;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    .blog-post-readmore {
      color: #ff7f00;
      text-decoration: none;
    }

    .blog-post img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .blog-post-details h4 {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .blog-post-actions {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.4rem;
      display: flex;
      justify-content: flex-start;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      width: 70px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: transparent;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(91, 83, 83, 0.2);
      padding: 12px 16px;
      z-index: 1;
      overflow: auto;
      max-width: 100%;
    }

    .dropdown-content.show {
      display: block;
    }

    .threedot {
      border: none;
      background-color: transparent;
    }

    .threedot i {
      color: #d2d1d1;
    }

    .dropdown-content a {
      color: rgb(248, 248, 248);
      text-decoration: none;
      display: block;
      padding: 5px 10px;
      text-align: center;
      font-size: 14px;
      background-color: #1c1a1a;
      border: none;
      border-radius: 5px;
      width: 100%;
      transition: background-color 0.3s ease;
    }

    .dropdown-content button {
      color: rgb(248, 248, 248);
      text-decoration: none;
      display: block;
      padding: 5px 10px;
      font-size: 14px;
      background-color: #1c1a1a;
      border: none;
      border-radius: 5px;
      width: 100%;
      transition: background-color 0.3s ease;
      margin-top: 1rem;
    }

    .dropdown-content a:hover {
      background-color: #120f0f;
    }

    .social-media-icons {
      display: flex;
      gap: 1rem;
      margin-top: 10px;
    }

    .social-media-icons i {
      scale: 1.2;
    }

    .social-media-icons a {
      color: #e0e0e0;
      /* Light gray text color */
      text-decoration: none;
    }

    .social-media-icons a:hover {
      color: #ff7f00;
      /* Bright red on hover */
    }

    @media screen and (max-width: 768px) {
      .profile-container {
        width: 100%;
        margin-left: 0;
        overflow-x: hidden;
        padding-left: 2rem;
      }

      .profile-box {
        width: 100vw;
        margin-left: 0;
        padding-left: 0;
      }

      .user-details h2,
      h4 {
        font-size: smaller;
      }
    }

    .social-media-icons a:hover {
      color: #101010;
      /* Bright red on hover */
    }
  </style>

  <div class="profile-container">
    <div class="profile-box">
      <div class="banner">
        <img id="banner-img" src="/assets/blog-img.jpg" alt="banner-img" />
        <label for="file-input" class="edit-banner"><i class="fas fa-pencil-alt"></i></label>
        <input id="file-input" type="file" style="display: none" onchange="handleFileSelect(event)" />
      </div>

      <div class="user-profile">
        <div class="user-img">
          <img id="profile-img" src="<%=user.avatar.avatarUrl%>" alt="img" />
        </div>
        <div class="user-details">
          <h2>
            <%= user.username %>
          </h2>
          <h4>
            <%= user.email %>
          </h4>
          <p class="user-bio">
            <%=user.bio%>
          </p>
          <!-- User bio -->
          <div class="social-media-icons">
            <a href="<%=user.social.youtube%>" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="<%=user.social.twitter%>" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="<%=user.social.facebook%>" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="<%=user.social.instagram%> " target="_blank"><i class="fab fa-instagram"></i></a>
            <div class="buttons">
              <a href="/profile/<%=user._id%>/edit"> Edit</a>
            </div>
          </div>
        </div>
      </div>

      <div class="blog-section">
        <h3>Your Blog Posts</h3>
        <div class="blog-posts">
          <% for(let userBlog of userBlogs) { %>
            <div class="blog-post">
              <img src="<%= userBlog.images[0].url %>" alt="blog-post" />
              <div class="blog-post-details">
                <h4>
                  <%= userBlog.destination %>
                </h4>
                <p>Country: <%= userBlog.country %>
                </p>
                <p>State: <%= userBlog.state %>
                </p>
                <p>Budget: ₹<%= userBlog.budget.toLocaleString("en-IN") %>
                </p>
                <p>
                  Experience: <%= userBlog.experience.substring(0, 100) %>
                    <a class="blog-post-readmore" href="/dashboard/<%= userBlog._id %>">
                      Read More --></a>
                </p>

                <div class="blog-post-actions dropbtn">
                  <div class="dropdown dropbtn">
                    <button onclick="toggleDropdown()" class="dropbtn threedot">
                      <i class="fas fa-ellipsis-v dropbtn"></i>
                    </button>
                    <div id="dropdown-content" class="dropdown-content">
                      <a href="/dashboard/<%=userBlog._id%>/edit"><i class="fas fa-edit"></i> Edit</a>
                      <form method="POST" action="/dashboard/<%=userBlog._id%>?_method=DELETE">
                        <button type="submit">
                          <i class="fas fa-trash"></i> Delete
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr />

            </div>
            <% } %>
              <% if (userBlogs.length===0) { %>
                <div>
                  <h4>No Blogs Posted Yet</h4>
                </div>
                <% } %>
        </div>
      </div>

      <script>
        function handleFileSelect(event) {
          var file = event.target.files[0];
          var reader = new FileReader();

          reader.onload = function (e) {
            document.getElementById("banner-img").src = e.target.result;
          };

          reader.readAsDataURL(file);
        }

        function handleProfileSelect(event) {
          var file = event.target.files[0];
          var reader = new FileReader();

          reader.onload = function (e) {
            document.getElementById("profile-img").src = e.target.result;
          };

          reader.readAsDataURL(file);
        }
      </script>
      <script>
        document.addEventListener("click", function (event) {
          if (event.target.matches('.dropbtn') || event.target.matches('.dropbtn i')) {
            let dropdownContent = event.target.closest('.dropdown').querySelector('.dropdown-content');
            dropdownContent.classList.toggle("show");

            let dropdowns = document.querySelectorAll('.dropdown-content');
            dropdowns.forEach(function (dropdown) {
              if (dropdown !== dropdownContent && dropdown.classList.contains('show')) {
                dropdown.classList.remove('show');
              }
            });
          } else {

            let dropdowns = document.querySelectorAll('.dropdown-content');
            dropdowns.forEach(function (dropdown) {
              if (dropdown.classList.contains('show')) {
                dropdown.classList.remove('show');
              }
            });
          }
        });

      </script>
    </div>
  </div>